[Unit]
Description=nginx
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --name mynginx -p 8080:80 nginx

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=nginx*.service
